################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/SocketServer/.vs/SocketServer/FileContentIndex/1d442f92-0a34-4a5d-943a-1f928643dba6.vsidx
/SocketServer/WinFormsApp1/obj/Debug/net6.0-windows/WinFormsApp1.csproj.AssemblyReference.cache
/SocketServer/WinFormsApp1/obj/Debug/net6.0-windows/WinFormsApp1.assets.cache
/SocketServer/WinFormsApp1/obj/Debug/net6.0-windows/WinFormsApp1.GeneratedMSBuildEditorConfig.editorconfig
/.gitignore
*.vsidx
/SocketServer/.vs/SocketServer/FileContentIndex/24a7107c-54d0-4153-a3d1-db7c5c31e8ea.vsidx
*.wsuo
/SocketServer/TestProject1/obj/TestProject1.csproj.nuget.g.targets
/SocketServer/TestProject1/obj/TestProject1.csproj.nuget.dgspec.json
/SocketServer/SocketServer/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/SocketServer/SocketServer/obj/Debug/SocketServer.csproj.AssemblyReference.cache
/SocketServer/.vs/SocketServer/v17/.suo
/SocketServer/PQBook/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/SocketServer/WinFormsApp1/obj/WinFormsApp1.csproj.nuget.g.props
/SocketServer/WinFormsApp1/obj/WinFormsApp1.csproj.nuget.dgspec.json
/SocketServer/WinFormsApp1/obj/project.assets.json
/SocketServer/WinFormsApp1/obj/project.nuget.cache
/SocketServer/DeBugWGSD/obj/Debug/DeBugWGSD.csproj.AssemblyReference.cache
/SocketServer/DeBugWGSD/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/SocketServer/TestProject1/obj/Debug/net6.0/TestProject1.assets.cache
/SocketServer/TestProject1/obj/Debug/net6.0/TestProject1.csproj.AssemblyReference.cache
/SocketServer/TestProject1/obj/Debug/net6.0/TestProject1.GeneratedMSBuildEditorConfig.editorconfig
/SocketServer/TestProject1/obj/project.assets.json
/SocketServer/TestProject1/obj/project.nuget.cache
/SocketServer/TestProject1/obj/TestProject1.csproj.nuget.g.props
*.cache
/SocketServer/CrawlFiction/obj
/SocketServer/CrawlFiction/bin
/SocketServer/CrawlFiction/Properties/PublishProfiles
/SocketServer/.vs/SocketServer/DesignTimeBuild/.dtbcache.v2
/.vs
/SocketServer/.vs
*.bin

