<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Beiyuan.WebSystem.Core" version="3.1.0" targetFramework="net48" />
  <package id="Beiyuan.WebSystem.Security" version="3.1.0" targetFramework="net48" />
  <package id="JetBrains.Annotations" version="2020.1.0" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.1.1" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration" version="3.1.6" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="3.1.6" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="3.1.6" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.CommandLine" version="3.1.6" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.EnvironmentVariables" version="3.1.6" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.FileExtensions" version="3.1.6" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Json" version="3.1.6" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.UserSecrets" version="3.1.6" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection" version="3.1.6" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="3.1.6" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="3.1.6" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileProviders.Physical" version="3.1.6" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileSystemGlobbing" version="3.1.6" targetFramework="net48" />
  <package id="Microsoft.Extensions.Hosting.Abstractions" version="3.1.6" targetFramework="net48" />
  <package id="Microsoft.Extensions.Localization" version="3.1.6" targetFramework="net48" />
  <package id="Microsoft.Extensions.Localization.Abstractions" version="3.1.6" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging" version="3.1.6" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="3.1.6" targetFramework="net48" />
  <package id="Microsoft.Extensions.Options" version="3.1.6" targetFramework="net48" />
  <package id="Microsoft.Extensions.Options.ConfigurationExtensions" version="3.1.6" targetFramework="net48" />
  <package id="Microsoft.Extensions.Primitives" version="3.1.6" targetFramework="net48" />
  <package id="Nito.AsyncEx.Context" version="5.0.0" targetFramework="net48" />
  <package id="Nito.AsyncEx.Coordination" version="5.0.0" targetFramework="net48" />
  <package id="Nito.AsyncEx.Tasks" version="5.0.0" targetFramework="net48" />
  <package id="Nito.Collections.Deque" version="1.0.4" targetFramework="net48" />
  <package id="Nito.Disposables" version="2.0.0" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Collections.Immutable" version="1.7.1" targetFramework="net48" />
  <package id="System.ComponentModel.Annotations" version="4.7.0" targetFramework="net48" />
  <package id="System.Linq.Dynamic.Core" version="1.1.5" targetFramework="net48" />
  <package id="System.Linq.Queryable" version="4.3.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.4" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.1" targetFramework="net48" />
  <package id="System.Runtime.Loader" version="4.3.0" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="4.7.1" targetFramework="net48" />
  <package id="System.Text.Json" version="4.7.2" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
</packages>